body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f8df96;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

h2 {
    margin-bottom: 6px;
}

button {
    background-color: #e470c6;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-align: center;
    font-size: 24px;
    border-radius: 66px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 22px;
}

.gif {
    width: 250px; 
    height: auto; 
    margin: 0px 0px;
}
